@model ResumePortfolioSite.ViewModels.ResumeIndexViewModel

<h1>Heather M. Kurth</h1>
<br />
<hr />



<h2>Education</h2>

@if (Model.EducationItems.Count() == 0)
{
    <p>Coming soon...</p>
}
else
{
    foreach (Education educationItem in Model.EducationItems)
    {
        string graduationYear = "Present";
        if (educationItem.GraduationYear != null)
        {
            graduationYear = educationItem.GraduationYear.ToString();
        }

        <h3>@educationItem.SchoolName</h3>
        <p>@educationItem.StartYear to @educationItem.GraduationYear</p>
        <p>@educationItem.Degree</p>
        <br />
    }
}
<hr />


<h2>Jobs</h2>
@if (Model.JobItems.Count() == 0)
{
    <p>Coming soon...</p>
}
else
{
    foreach (Job jobItem in Model.JobItems)
    {


        <h3>@jobItem.CompanyName</h3>
        <p>@jobItem.StartMonth,@jobItem.StartYear to @jobItem.DateEnded;</p>
        <p>@jobItem.Position</p>
        <br />
    }
}
<hr />
<hr />

<h2>Skills</h2>
@if (Model.SkillItems.Count() == 0)
{
    <p>Coming soon...</p>
}
else
{
    foreach (Skill skillItem in Model.SkillItems)
    {


        <h3>@skillItem.SkillName</h3>
        <p>@skillItem.StartYear </p>
        <p>@skillItem.Description</p>
        <br />
    }
}
<hr />
